@page "/months"
@using Modeles;
@using Models.Types;

<table class="table table-striped">
    @foreach (Year year in DateTime.UtcNow.ToYear().Decade)
    {
        <tr>
            <th>@year.Number</th>
            @foreach (Month month in year.Months)
            {
                <td>@($"{this.MonthsNames[month.Ordinal]}")</td>
            }
        </tr>
    }

</table>

@code {
    [Parameter]
    public DateTime ForTimestamp { get; set; } = new DateTime(2023, 01, 01);

    string[] MonthsNames = new[]
    {
    "", "jan", "feb", "mar", "apr", "may", "jun", "jul", "aug", "sep", "oct", "nov", "dec"
    };
}